<%- include('partials/header');-%>

    <h1>Home</h1>
    <% for(let i=0;i<title.length;i++){ %>
        <h1> <%= (i+1) + '.' + title[i] %> </h1>
        <p style="display: inline-block; width: fit-content;"><%= output[title[i]] %></p>
    <% } %>

<%- include('partials/footer'); -%>