<%- include('partials/header');-%>
    <style>
        footer{
            position: fixed;
            bottom: 0%;
            text-align: center;
            width: 100%;
            padding: 20px;
        }
        body{
            padding: 0% 20px 10px 20px;
        }
    </style>
    <h1>
        <%= title %>
    </h1>
    <%= data[title] %>

<%- include('partials/footer'); -%>
        